include mixins/_header

doctype html
html
  head
    title= 'My Vinyl'
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
      +header()
      block content