mixin searchForm()
  form(action="/search" method="get")
    .input-group
        input.form-control(type="text", name="q" placeholder="search for artist")
        span.input-group-btn
          input(type="submit", value="go" class="btn btn-default")
